* {
    margin: 0;
    padding: 0;
}

.navbar {

    font-size: large !important;
    font-weight: 500px;
    padding: 10px;
    text-emphasis-color: rgb(5, 1, 25);
    color: brown;
    background-color: rgb(252 234 239) !important;
}

.navbar-brand>img {
    height: 60px !important;
    width: 60px !important;
    padding-bottom: 36px;
    object-fit: contain;
    align-items: flex-start;
}

.btn-primary {
    margin-top: 4px;
    margin-right: 8px;
    font-size: large !important;
}